[Unit]
Description=Lionel to MTH Bridge
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=arnemetz
WorkingDirectory=/home/arnemetz/lionel-mth-bridge
ExecStartPre=/bin/sleep 10
ExecStart=/home/arnemetz/lionel-mth-bridge/venv/bin/python /home/arnemetz/lionel-mth-bridge/lionel_mth_bridge.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
